
.ipynb_checkpoints/
image_recognition/data
audio_recognition/data

references
tmp
.vscode
.DS_Store

data/text/training.1600000.processed.noemoticon.csv
train-processed-sample.csv
train-processed.csv
